body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #004080;
    color: white;
    padding: 20px 0;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.text-content {
    display: inline-block;
    width: 100%;
    margin-left: 80px;
}

    .text-content h1,
    .text-content p {
        margin: 0;
        padding: 5px 0;
    }

.header-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.logo {
    position: absolute;
    left: -85px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: auto;
}

header h1 {
    margin: 0 auto;
    font-size: 26px;
    max-width: 90%;
}

header p {
    margin: 5px auto 0;
    font-size: 18px;
    max-width: 90%;
}


.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.experiments-table {
    width: 100%;
    border-collapse: collapse;
}

    .experiments-table th, .experiments-table td {
        padding: 0.8rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
        border: 1px solid #ccc;
    }

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #004080;
    color: white;
}

    .experiments-table a {
        color: #004080;
        text-decoration: none;
    }

        .experiments-table a:hover {
            text-decoration: underline;
        }
